{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% load crispy_forms_tags %}
<style>
      .pswrd{
      margin-top:20px;
      }
      .title-pswrd{
     background: #4D4D4D;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	padding: 30px;
	margin: -30px -30px 30px -30px;
      }
          #id_new_password2 ,#id_new_password1,#id_old_password{
          box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 500px;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 10px;
          }
          .container-fluis{

          }

</style>

<div class="container-fluid shadow-lg " style="margin-top: 60px; background-color:white;width:550px;height:550px;margin-bottom:100%;">
    <div class="card-body">

        <div class="text-center">
            <h2 class="title-pswrd">Modifier votre mot de passe</h2>
        </div>
        {% if messages %}
        {% for message in messages %}
        <center><div class="{{ message.tags }}">{{ message }}</div></center>
        {% endfor %}
        {% endif %}
        <div style="float:left;margin-top:60px;">
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Ancien mot de passe</label>
                            <div>
                                {{ form.old_password }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Nouveau mot de passe </label>
                            <div>
                                {{ form.new_password1 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">

                            <label>Confirmation du nouveau mot de passe</label>
                            <div>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn pswrd btn-warning " value="Enregistrer les modifications">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>

</div>

{% endblock content %}