{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
 <div class="container-fluid"style="margin-bottom:100%;">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">

        </div>

        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5 ">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6 ">
                <div class="p-5 ">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Modifier votre profil</h1>
                  </div>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      {% language 'fr' %}
                    {{user_form | crispy}}
                      {% endlanguage %}

                      <label >Téléphone</label>
                      {{profile_form.phone_number}}
                      <label class="mt-3">Année de naissance</label>
                      {{profile_form.birth_date}}
                      <label class="mt-3">Photo de profil</label>
                      <div>{{profile_form.profile_image}}</div>
                    <button type="submit" class="btn btn-success btn-block mt-3">Modifier</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{request.META.HTTP_REFERER}}">Retour</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




    </div>
{% endblock content %}