{% extends "base.html" %}
{% block list %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">


{% endblock list %}
{% block content %}
{% load i18n %}

{% include "navbar.html" %}
<div class="container-fluid" style="margin-left: 10px;margin-bottom:100%;margin-top:80px;">


                    <center> <h1 class="h2" style="padding-bottom: 20px;">Gestion des comptes</h1></center>

 <div class="row filter">
        <div class="col-sm-12 mb-3">
            <form method="GET">
                 <label for="name">nom d'utilsateur:</label>
            <input type="text" placeholder="nom d'utilsateur" name="username">
                <button type="submit" class="btn btn-info material-icons " style="color: white;" >Chercher</button>
            </form>
        </div>
    </div>
    {% if user.is_superuser %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="margin-bottom:10px;">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table" style="background-color:white;">
        <thead class="thead-dark">
        <tr>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Dernière connexion</th>
            <th scope="col">Statuts</th>
            <th scope="col">Date d'inscription</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>
                {% load static %}
                <img {% if user.profile %}
                     src="{{user.profile.profile_image.url}}" {% else %}

                     src="{% static 'images/defaut.png' %}" {% endif %} class="rounded float-right" height="50px"
                     width="70px">


            </td>
            <td>{{ user.username }}</td>
            {% language 'fr' %}
            <td>{{ user.last_login }}</td>
            {% endlanguage %}
            <td>
                {% if user.is_active %}
                <a href="{% url 'deactivate_user' user_id=user.id %}" class="btn btn-sm btn-danger">Désactiver</a>
                {% else %}
                <a href="{% url 'activate_user' user_id=user.id %}" class="btn btn-sm btn-success">Activer</a>
                {% endif %}
            </td>
            {% language 'fr' %}
            <td>{{ user.date_joined }}</td>
            {% endlanguage %}
            <td><a href="{% url 'delete_user' user_id=user.id %}" class="btn btn-sm btn-danger">Supprimer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h3 class="font-weight-bold"> Vous n'êtes pas admin .Vous ne pouvez pas accéder à cette page</h3>
{% endif %}
</div>
{% endblock content %}