<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
<form method="POST" >
    {% csrf_token %}
<div class="row">
                    <div class="col">
                        <div class="form-group ">
                            <label for="uname1">Numéro dossier</label>
                            {{ form.numero }}
                        </div>
                    </div>
                  </div>

    <input type="submit" value="ajouter">
</form>

</body>
</html>