{% extends "base.html" %}
{% block content %}
<link href="/assets/css/cards.css" rel="stylesheet" media="all">
<body class="animsition">
<div class="page-wrapper">
    {% include "navbar.html" %}
    <div class="cards-list">
        <center>
            <div class="row">
                <div class="col">
                    <a href="{% url 'create_consultation' %}">
                        <div class="card 1">
                            <div class="card_image"><img src="/assets/images/consult.png"/></div>
                            <div class="card_title title-white">
                                <p>Consultation</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">

                    <a href="{% url 'create_intervention' %}">
                        <div class="card 2">
                            <div class="card_image">
                                <img src="/assets/images/interv.png"/>
                            </div>
                            <div class="card_title title-white">
                                <p>Intervention</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </center>
        <div class="row" style="margin-top:-100px;">

            <a href="{% url 'create_hospitalisation' %}">
                <div class="card 3">
                    <div class="card_image">
                        <img src="/assets/images/hospi.png">
                    </div>
                    <div class="card_title">
                        <p>Hospitalisation</p>
                    </div>
                </div>
            </a>

        </div>


    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->

</div>

</div>



</body>
{% endblock content %}
