<header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">

                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active has-sub">
                            <a href="{% url 'accueil' %}">
                                <i class="fas fa-home"></i>Accueil</a>

                        </li>

                        <li>
                            <a class="js-arrow" href="#">
                               <i class="fas fa-chart-bar"></i>Statistiques</a>

                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                                    <a href="{% url 'pie-chart' %}">Sexe</a>
                                </li>
                                <li>
                                    <a href="{% url 'pie-chart-result' %}">Résultat d'intervention</a>
                                </li>

                            </ul>


                        </li>
                              <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user-md"></i>Intervenants</a>

                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                                    <a href="{% url 'list_medecin' %}">Médecins</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_chirurgien' %}">Chirurgiens</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_anesthesiste' %}">Anesthesistes</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_infirmiers' %}">Infirmiers</a>
                                </li>
                            </ul>


                        </li>
                        <li>
                            <a href="{% url 'list_consultation' %}">
                                <i class="fas fa-stethoscope"></i>Consultation</a>
                        </li>
                        <li>
                            <a href="{% url 'create_intervention' %}">
                                <i class="fas fa-syringe"></i>Intervention</a>
                        </li>
                        <li>
                            <a href="{% url 'create_hospitalisation' %}">
                                <i class="far fa-hospital"></i>Hospitalisation</a>
                        </li>
                        <li>
                            <a href="{% url 'list_patients' %}">
                                <i class="fa fa-users"></i>Patients</a>
                        </li>


                         <li>
                            <a href="{% url 'calendar'%}">
                                <i class="far fa-calendar-check"></i>Rendez-vous</a>
                        </li>
                        {% if user.is_superuser %}
                         <li>

                            <a href="{% url 'system_users' %}">
                                <i class="fas fa-lock-open"></i>Gestion des comptes </a>
                        </li>
                        {% endif %}

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{% url 'home' %}">
                    {% load static %}
                    <img src="{% static 'logo1.png' %}" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="{% url 'accueil' %}">
                                <i class="fas fa-home"></i>Accueil</a>
<!--                            <ul class="list-unstyled navbar__sub-list js-sub-list">-->
<!--                                <li>-->
<!--                                    <a href="index.html">Patients</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="index2.html">Consultations</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="index3.html">Interventions</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="index4.html">Hospitalisations</a>-->
<!--                                </li>-->
<!--                            </ul>-->
                        </li>
                           <li>
                            <a class="js-arrow" href="#">
                               <i class="fas fa-chart-bar"></i>Statistiques</a>

                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                                    <a href="{% url 'pie-chart' %}">Sexe</a>
                                </li>
                                <li>
                                    <a href="{% url 'pie-chart-result' %}">Résultat d'intervention</a>
                                </li>

                            </ul>


                        </li>
                              <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user-md"></i>Intervenants</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{% url 'list_medecin' %}">Médecins</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_chirurgien' %}">Chirurgiens</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_anesthesiste' %}">Anesthesistes</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_infirmiers' %}">Infirmiers</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'list_consultation' %}">
                                <i class="fas fa-stethoscope"></i>Consultation</a>
                        </li>
                        <li>
                            <a href="{% url 'create_intervention' %}">
                                <i class="fas fa-syringe"></i>Intervention</a>
                        </li>
                        <li>
                            <a href="{% url 'create_hospitalisation' %}">
                                <i class="far fa-hospital"></i>Hospitalisation</a>
                        </li>
                        <li>
                            <a href="{% url 'list_patients' %}">
                                <i class="fa fa-users"></i>Patients</a>
                        </li>

                        <li>
                            <a href="{% url 'calendar'%}">
                                <i class="far fa-calendar-check"></i>Rendez-vous</a>
                        </li>
                        {% if user.is_superuser %}
                         <li>

                            <a href="{% url 'system_users' %}">
                                <i class="fas fa-lock-open"></i>Gestion des comptes </a>
                        </li>
                        {% endif %}




                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">

                            <h2 style="color:#5c5b59">Service traumatologie</h2>
<!--                            <form class="form-header" action="" method="POST">-->
<!--                                <input class="au-input au-input&#45;&#45;xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />-->
<!--                                <button class="au-btn&#45;&#45;submit" type="submit">-->
<!--                                    <i class="zmdi zmdi-search"></i>-->
<!--                                </button>-->
<!--                            </form>-->
                            <div class="header-button">

                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            {% load static %}

                                            <img {% if user.profile %}
                                                 src="{{user.profile.profile_image.url}}" {% else %}

                                           src="{% static 'images/defaut.png' %}"{% endif %} class="rounded float-right" height="300px"width="300px">



                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{user.username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">

                                            <img {% if user.profile %}
                                                 src="{{user.profile.profile_image.url}}" {% else %}

                                           src="{% static 'images/defaut.png' %}"{% endif %} class="rounded float-right" height="300px"width="300px">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{user.username}}</a>
                                                    </h5>
                                                    <span class="email">{{user.email}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'profile' %}">
                                                        <i class="fas fa-user-circle"></i>Votre profil</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'change_password' %}">
                                                        <i class="fas fa-key"></i>Changer votre mot de passe</a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>
