<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/icon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="/assets/css/acceuil.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <title>Services CHU Marrakech</title>
</head>
<body>


{% load static %}
<center><img src="{% static 'logo.png' %}" class="img-responsive mb-3"></center>
<div class="profil"><img {% if user.profile %}
                         src="{{user.profile.profile_image.url}}" {% else %}

                         src="{% static 'images/defaut.png' %}" {% endif %} class="rounded float-right" height="300px"
                         width="300px"></div>
<div class="username"> {{user.username}}</div>
<div class="logout">
    <a href="{% url 'logout' %}"><i class="material-icons icon" title="Se déconnecter">settings_power</i></a>
</div>

<center><h1 class="mt-3">Services CHU Marrakech </h1></center>
<hr>
<div class="cards-list">
    <!--    row1-->
    <div class="row">
        <div class="col">
            <div class="card 1" style="margin-left:90px;" data-toggle="modal" data-target="#first">
                <div class="card_image"><img src="/assets/images/cardio.png"/></div>
                <div class="card_title ">
                    <p>Cardiologie</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card 2 ml-5" data-toggle="modal" data-target="#second">
                <div class="card_image">
                    <img src="/assets/images/neuro.png"/>
                </div>
                <div class="card_title ">
                    <p>Neurologie</p>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="card 3 " data-toggle="modal" data-target="#third">
                <div class="card_image">
                    <img src="/assets/images/dermato.png">
                </div>
                <div class="card_title">
                    <p>Dermatologie</p>
                </div>
            </div>
        </div>
    </div>
    <!--    row2-->
    <div class="row">
        <div class="col">
            <div class="card 1" style="margin-left:90px;">
                <a href="{% url 'home' %}">
                    <div class="card_image"><img src="/assets/images/traumato.png"/></div>
                </a>
                <div class="card_title ">
                    <p>Traumatologie</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card 2 ml-5" data-toggle="modal" data-target="#fifth">
                <div class="card_image">
                    <img src="/assets/images/endo.png"/>
                </div>
                <div class="card_title ">
                    <p>Endocrinologie</p>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="card 3 " data-toggle="modal" data-target="#sixth">
                <div class="card_image">
                    <img src="/assets/images/rhumato.png">
                </div>
                <div class="card_title">
                    <p>Rhumatologie</p>
                </div>
            </div>
        </div>
    </div>
    <!-- row3   -->
    <div class="row">
        <div class="col">
            <div class="card 1" style="margin-left:90px;" data-toggle="modal" data-target="#seventh">
                <div class="card_image">
                    <img src="/assets/images/pneumo.png"/></div>
                <div class="card_title ">
                    <p>Pneumologie</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card 2 ml-5" data-toggle="modal" data-target="#eight">
                <div class="card_image">
                    <img src="/assets/images/ophtalmo.png"/>
                </div>
                <div class="card_title ">
                    <p>Ophtalmologie</p>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="card 3 " data-toggle="modal" data-target="#nine">
                <div class="card_image">
                    <img src="/assets/images/nephro.png">
                </div>
                <div class="card_title">
                    <p>Néphrologie</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!--first-->
<div class="modal fade" id="first" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fas fa-users"></i> Service de Cardiologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>La cardiologie s’intéresse à l’appareil cardiovasculaire, c’est-à-dire au cœur et aux vaisseaux
                    (artères et veines), à la prévention ainsi qu’au traitement des anomalies et des maladies qui
                    l’affectent : hypertension artérielle, insuffisance cardiaque, troubles du rythme cardiaque, angine
                    de poitrine, athérosclérose … Le cardiologue peut être amené à intervenir en urgence notamment en
                    cas d’infarctus du myocarde.</p>
            </div>
        </div>
    </div>
</div>
<!-- second-->
<div class="modal fade" id="second" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fas fa-users"></i> Service de Neurologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>Les psychologues du Service de psychologie sont à l’écoute des besoins des patients et leur offrent
                    un soutien durant leur hospitalisation ou en consultation, sur rendez-vous. Le service est composé
                    de psychologues spécialisés dans différents secteurs médicaux</p>
            </div>
        </div>
    </div>
</div>
<!--third-->

<div class="modal fade" id="third" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service de Dermatologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>Depuis 1995, la dermatologie est définie comme la spécialité de la la médecine comprenant : «le
                    diagnostic, le traitement (à la fois médical et chirurgical) et la prévention des maladies de la
                    peau, du tissu cellulaire sous-cutané, des muqueuses et des annexes de la peau (poils, cheveux,
                    ongles) de même que des manifestations cutanées des maladies systémiques. Elle comporte aussi la
                    promotion de la bonne santé de la peau».</p>
            </div>
        </div>
    </div>
</div>

<!--fifth-->


<div class="modal fade" id="fifth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service d'Endocrinologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>Spécialité médicale qui étudie le fonctionnement, les maladies et les moyens de traiter les glandes
                    endocrines (celles qui produisent des hormones) et le métabolisme (ensemble des fonctions du corps
                    indispensables à la vie comme, par exemple, la fabrication et l’utilisation du glucose). Les
                    hormones sont des substances qui sont transportées par le sang et agissent sur différents organes :
                    ainsi la testostérone produite par les testicules agit sur l’os, la peau, les tissus graisseux.</p>
            </div>
        </div>
    </div>
</div>
<!--sixth-->
<div class="modal fade" id="sixth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service de Rhumathologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>La rhumatologie est la spécialité médicale qui prend en charge les douleurs et dysfonctionnements de
                    l'appareil locomoteur et des tissus conjonctifs ainsi que des affections touchant la région péri
                    articulaire.</p>
            </div>
        </div>
    </div>
</div>
<!--seventh-->
<div class="modal fade" id="seventh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service de Pneumologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>La pneumologie est une spécialité médicale qui s’intéresse principalement aux maladies d’origine
                    pulmonaire. Les pathologies majeures traitées sont l’insuffisance respiratoire, l’asthme et
                    l’emphysème, ainsi que les maladies infectieuses telles que la pneumonie, la tuberculose, la
                    pleurésie et les abcès pulmonaires, ou encore les syndromes tumoraux comme le cancer du poumon ou de
                    la plèvre.

                </p>
            </div>
        </div>
    </div>
</div>
<!--eight-->
<div class="modal fade" id="eight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service d'Ophtalmologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>L'ophtalmologie est la spécialité qui se consacre à l'étude de la structure et du fonctionnement des
                    yeux et de ses annexes, mais également au traitement médical ou chirurgical des maladies qui les
                    concernent. L’ophtalmologie est une spécialité chirurgicale mais, en France, certains médecins
                    ophtalmologistes n'opèrent pas, leur spécialité se nomme alors ophtalmologie médicale.</p>
            </div>
        </div>
    </div>
</div>
<!--nine-->
<div class="modal fade" id="nine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">

                <h4 class="title"><i class="fas fa-users"></i> Service de Néphrologie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mb-0 text-center">
                <p>La néphrologie est la spécialité médicale visant à prévenir, diagnostiquer et soigner les maladies
                    des reins. Elle est différente de l'urologie, spécialité chirurgicale s'intéressant à l'appareil
                    génital masculin et à l'ensemble du système urinaire</p>
            </div>
        </div>
    </div>
</div>


</div>


</body>
<footer>
</footer>
</html>
