{% extends "base.html" %}

{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}


#myImg:hover {opacity: 0.5;}
#myImg1:hover {opacity: 0.5;}
#myImg2:hover {opacity: 0.5;}
#myImg3:hover {opacity: 0.5;}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7 ; /* Sit on top */
  padding-top: 80px; /* Location of the box */
 right:0;
  left:0;
  top: 0;
  width: 100%; /* Full width */
  height:100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
  z-index: 7;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal-content, #caption1 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal-content, #caption2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal-content, #caption3 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close2{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close3{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.zoom h2{
margin-top:50px;
width:150px;

margin-bottom:30px;
color:#5C5B59;
background-color:white;

box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
</style>

{% include "navbar.html" %}
<center style="margin-top:80px;">
    <div class="zoom">
<h2>TDM</h2>
</div>
 {% if consultation.tdms != "s.jpg" and consultation.tdms != null %}
<img id="myImg" src="{{ consultation.tdms.url }}" alt="TDM" style="width:100%;max-width:600px">
     {% else %}
    <div> aucune tdm</div>
{% endif %}
<div class="zoom">
    <h2>IRM</h2>
</div>
    {% if consultation.irms != "s.jpg" and consultation.irms != null %}
<img id="myImg1" src="{{ consultation.irms.url }}" alt="IRM" style="width:100%;max-width:600px">
     {% else %}
    <div> aucune irm</div>
{% endif %}

    <div class="zoom">
    <h2>RADIO</h2>
    </div>
     {% if consultation.radios != "s.jpg" and consultation.radios != null %}
    <img id="myImg2" src="{{ consultation.radios.url }}" alt="RADIO" style="width:100%;max-width:600px">
    {% else %}
    <div> aucune radio</div>
{% endif %}
</center>
<center>
    <div class="zoom">
  <h2>Echo</h2>
    </div>
     {% if consultation.echos != "s.jpg" and consultation.echos != null %}
    <img id="myImg3" src="{{ consultation.echos.url }}" alt="ECHO" style="width:100%;max-width:600px">
      {% else %}
    <div> aucune echo</div>
{% endif %}
</center>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<div id="myModal1" class="modal">
  <span class="close1">&times;</span>
  <img class="modal-content" id="img02">
  <div id="caption1"></div>
</div>

<div id="myModal2" class="modal">
  <span class="close2">&times;</span>
  <img class="modal-content" id="img03">
  <div id="caption2"></div>
</div>
<div id="myModal3" class="modal">
  <span class="close3">&times;</span>
  <img class="modal-content" id="img04">
  <div id="caption3"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
{% if consultation.irms != "s.jpg" and consultation.irms != null %}

var modal = document.getElementById("myModal1");

var img = document.getElementById("myImg1");
var modalImg = document.getElementById("img02");
var captionText = document.getElementById("caption1");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
{% endif %}
{% if consultation.radios != "s.jpg" and consultation.radios != null %}

var modal = document.getElementById("myModal2");

var img = document.getElementById("myImg2");
var modalImg = document.getElementById("img03");
var captionText = document.getElementById("caption2");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
{% endif %}
{% if consultation.echos != "s.jpg" and consultation.echos != null %}

var modal = document.getElementById("myModal3");

var img = document.getElementById("myImg3");
var modalImg = document.getElementById("img04");
var captionText = document.getElementById("caption3");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
{% endif %}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span1 = document.getElementsByClassName("close1")[0];
var span2 = document.getElementsByClassName("close2")[0];
var span3 = document.getElementsByClassName("close3")[0];




// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
span1.onclick = function() {
  modal.style.display = "none";
}
span2.onclick = function() {
  modal.style.display = "none";
}
span3.onclick = function() {
  modal.style.display = "none";
}
</script>
{% endblock content %}
