<!DOCTYPE html>
<html lang="en">
<head>
    <title>Certificat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            border: #0b2e13, 2px;
            padding: 25px;

        }
        .text{
        line-height:1.7;
        }

        </style>

</head>

{% load i18n %}
<center><img src="/Users/ikram/hopital/p2/assets/images/logo.png" width="310px" height="80px"/></center>
<h1 align="center" style="font-size: 2.9em">Centre Hospitalier Universitaire Mohammed VI de Marrakech</h1>
<h2 align="center" style="font-size: 1.8em ;margin-top:-10px !important;">Service de Traumatologie<br>
{{ consultations.patient.medecin }} <br>{{ consultations.patient.medecin.specialite }}</h2>



<h1 align="center">fax:05 24 24 88 89</h1>

<hr>
<h1 style="text-align:right;margin-top:50px;">Marrakech le&nbsp; {{ today | date:"d/m/Y" }}</h1>
<h1 align="center" style="color: #0c5460;font-size: 2.4"><u>Certificat Médical</u></h1>
    <div class="text">
<p style="font-size: 1.7em">
     &nbsp;  &nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; Je, soussigné &nbsp;<strong>{{ consultations.patient.medecin }}</strong>&nbsp;,&nbsp;
certifie avoir examiné ce jour sur sa demande {% if consultations.patient.sexe == 'Homme' %}Mr {% else %}Mme{% endif %}&nbsp;<strong>{{ consultations.patient.nom }} {{ consultations.patient.prenom }}</strong>&nbsp;
,{% if consultations.patient.sexe == 'Homme' %}né le {% else %} née le {% endif %} &nbsp;{% language 'fr' %}<strong>{{ consultations.patient.dateNaissance }}.<br></strong>{% endlanguage %}&nbsp;{{consultations.descriptionCertificat}}

</p>
<br>
<p style="font-size: 1.7em">Du &nbsp;{% language 'fr' %}<strong>{{ consultations.dateDebutCertificat}}</strong>{% endlanguage %}&nbsp; à &nbsp;{% language 'fr' %}<strong>{{ consultations.dateFinCertificat}}</strong>{% endlanguage %}&nbsp;
,nombre de jours : &nbsp;<strong>{{ consultations.nbrJour}}</strong> jour{{ consultations.nbrJour|pluralize }}.</p>
<p style="font-size: 1.7em">
    &nbsp;  &nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;Ce certificat est délivré à l'intéressée pour servir et valoir ce que le droit.

<br>
<br>
    <br>
    <br>
    <br>
    <br>

</div>
</body>
</html>