{% extends 'base.html' %}

{% block calendar %}
{% include "navbar.html" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<div class="clearfix">
    <button class="btn  left"  ><a href="{% url 'calendar' %}?{{ prev_month }}"> <i class="fas fa-arrow-left"></i>Mois Précedent</a></button>
    {% if request.user.is_superuser %}
    <button class="btn  center"  ><a href="{% url 'add_event' %}"> <i class="fa fa-plus" ></i>Ajouter un créneau</a></button>
    {% endif %}
    <button class="btn  right" ><a href="{% url 'calendar' %}?{{ next_month }}"> Mois suivant <i class="fas fa-arrow-right"></i> </a></button>
</div>

{{ calendar }}
{% endblock calendar %}