.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
 margin-top: 150px;
  width: 350px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image a img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  color:black;
  text-align: center;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-top: -180px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 30px 10px #d9dbda,
    0px 0px 30px 10px #d9dbda;
}

.title-white {
  color: black;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.card_image img{
  opacity: 0.4;
}
