

.table {
    width: 70%;
    height:30%;
    margin: auto;
    font-size: 13px;
   font-family: "Poppins", sans-serif;


}
.table th.month{

border-top-left-radius:80px 80px;
border-top-right-radius:80px 80px;
padding:40px !important;
background-image:url('/assets/images/rdv.jpeg');
background-size:cover;
font-size:40px;




}
.table tr{


  text-align:center;

}
.table tr:first-child{
   text-transform: uppercase;
   color: #f55d42;
   background-color: transparent !important;
}
.table tr:nth-child(2){
text-transform: uppercase;
   color: red;
}

.table th {
    padding: 6px;
    text-align: center;
    font-size: 14px;
}

.table td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

h6 a {
    color: white;
    font-size:15px;
    background-color :#c2bc4f;
    border-radius: 25% 10%;
    padding:6px;
    margin-bottom:4px;
}
h6 a:hover {
    color: white;
    font-size:15px;
    background-color :#458f80;
    padding:6px;
    margin-bottom:4px;
}





.fa-arrow-left , .fa{
margin-right:9px;
}
.fa-arrow-right{
margin-left:9px;
}


.btn {
   position:relative;

   margin-top:70px;
    background:#458f80;
    border:#458f80;
    padding:10px;
    width:215px;
    border-radius:80px 80px;
    box-shadow: 0 0 0 0;
    margin-bottom:20px;

}


button a{
color: white !important;
}

.btn:hover{
background-color:#f55d42;

}


.clearfix {
    margin: 15px;
}

.form {
    margin: auto;
}

.form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}
