@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;

}

body {

  font-size: 14px;
  line-height: 24px;
  background-color:#e6e6e6;
}

.wrapper {
    margin-left:190px;
     margin-top:60px;

  background: #edf2f2;
  width: 800px;
  height: 550px;
  display: flex;

  box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.wrapper .wrapper_left {
  width: 250px;
  background: white;
  padding: 0 25px;
  display: flex;
  align-items: center;

}

.wrapper .wrapper_left ul li {
  background:#edf2f2;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  width: 200px;
  letter-spacing: 2px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.wrapper .wrapper_left ul li p {
  color: black;
  position: relative;
}

.wrapper .wrapper_left ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background:white;
  background:linear-gradient(to right, rgba(159,232,233,1) 0%, rgba(166,231,232,1) 0%, rgba(166,231,232,1) 0%, rgba(166,215,232,1) 0%, rgba(166,231,232,1) 0%, rgba(166,231,232,1) 3%, rgba(21,157,144,1) 22%, rgba(21,157,144,1) 57%, rgba(20,147,134,1) 75%, rgba(20,144,131,1) 81%);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.4s ease;
}

.wrapper .wrapper_left ul li.active {
  width: 250px;
}
.wrapper .wrapper_left ul li.active p {
  color: #fff;
}
.wrapper .wrapper_left ul li.active:before {
  width: 100%;
  transition: all 0.2s ease;
}

.wrapper .wrapper_left ul li:last-child {
  margin-bottom: 0;
}

.wrapper .wrapper_right {
  width: 550px;
  padding: 30px 50px;
  background-image: url("/assets/images/op.png") ;
  border-radius:inherited !important;

  background-size: 550px 550px;
}

.wrapper .wrapper_right .title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #5c5b59;
   letter-spacing: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
   font-family: "Montserrat", sans-serif;

  }


.wrapper .wrapper_right .item .item_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}






.wrapper .wrapper_right .item .item_info p {
  width: 300px;

  border-radius: 12px;
  color: #abaacd;
    letter-spacing: 2px;

  text-transform: uppercase;
  text-align: center;
}
.wrapper .wrapper_right .item .item_info p {
  color:#eb675e;
}


.wrapper .wrapper_right .item p {
  margin-bottom: 20px;
  color: #fff;
}
.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff !important;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 58px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
	background-color:#eb675e;

}
.myButton:active {
	position:relative;
	top:1px;
}